In [67]:
%run ../0-utils/0-Base.ipynb

Read data about customers (`train` and `test`):

In [68]:
customers_dfs = dict()

for clazz in ("train", "test"):
    df = pd.read_csv(f"../data/raw/{clazz}.csv", parse_dates=["first_active_month"])

    # test.csv has one missing value - replace it with the most popular 
    # first_active_month for rows in train.csv that have the same feature_x
    if "test" == clazz: df.fillna(pd.to_datetime("2017-01"), inplace=True)
        
    if "target" not in df.columns: df["target"] = 0

    feature_1_backup = df.feature_1
    feature_2_backup = df.feature_2

    df = pd.get_dummies(df, columns=["feature_1", "feature_2"])

    df["feature_1"] = feature_1_backup
    df["feature_2"] = feature_2_backup
    
    display(df)
    
    customers_dfs[clazz] = df

       first_active_month          card_id  feature_3    target  feature_1_1  feature_1_2  feature_1_3  feature_1_4  feature_1_5  feature_2_1  feature_2_2  feature_2_3  feature_1  feature_2
0              2017-06-01  C_ID_92a2005557          1 -0.820283            0            0            0            0            1            0            1            0          5          2
1              2017-01-01  C_ID_3d0044924f          0  0.392913            0            0            0            1            0            1            0            0          4          1
2              2016-08-01  C_ID_d639edf6cd          0  0.688056            0            1            0            0            0            0            1            0          2          2
...                   ...              ...        ...       ...          ...          ...          ...          ...          ...          ...          ...          ...        ...        ...
201914         2017-08-01  C_ID_7666735b3d          0  0.093494            0            0            0            1            0            0            0            1          4          3
201915         2016-07-01  C_ID_73f5a0efd0          1 -4.676589            0            0            1            0            0            0            1            0          3          2
201916         2017-07-01  C_ID_92c9984c58          1 -1.859413            0            0            1            0            0            1            0            0          3          1

[201917 rows x 14 columns]

       first_active_month          card_id  feature_3  target  feature_1_1  feature_1_2  feature_1_3  feature_1_4  feature_1_5  feature_2_1  feature_2_2  feature_2_3  feature_1  feature_2
0              2017-04-01  C_ID_0ab67a22ab          1       0            0            0            1            0            0            0            0            1          3          3
1              2017-01-01  C_ID_130fd0cbdd          0       0            0            1            0            0            0            0            0            1          2          3
2              2017-08-01  C_ID_b709037bc5          1       0            0            0            0            0            1            1            0            0          5          1
...                   ...              ...        ...     ...          ...          ...          ...          ...          ...          ...          ...          ...        ...        ...
123620         2016-09-01  C_ID_21d56d950c          1       0            0            0            0            0            1            1            0            0          5          1
123621         2017-06-01  C_ID_6c46fc5a9d          0       0            0            1            0            0            0            1            0            0          2          1
123622         2016-10-01  C_ID_87e7979a5f          1       0            0            0            0            0            1            1            0            0          5          1

[123623 rows x 14 columns]

Define a sample partition of customers:

In [69]:
sample_customers_df = add_part(customers_dfs["train"], n_parts=TRANSACTIONS_N_PARTS["new"])
sample_customers_df = sample_customers_df.loc[lambda x: x.part == 13].drop("part", axis=1)

display(sample_customers_df)

       first_active_month          card_id  feature_3     target  feature_1_1  feature_1_2  feature_1_3  feature_1_4  feature_1_5  feature_2_1  feature_2_2  feature_2_3  feature_1  feature_2
43             2017-11-01  C_ID_1919f9080e          0   0.393388            0            1            0            0            0            0            0            1          2          3
225            2017-01-01  C_ID_ae77d244b6          0 -33.219281            0            1            0            0            0            1            0            0          2          1
243            2017-09-01  C_ID_ee5bb1f392          0  -1.230539            0            1            0            0            0            0            0            1          2          3
...                   ...              ...        ...        ...          ...          ...          ...          ...          ...          ...          ...          ...        ...        ...
201682         2017-08-01  C_ID_5ac91f1427          0  -2.315998            0            1            0            0            0            1            0            0          2          1
201899         2017-10-01  C_ID_58e359763e          1  -2.702214            0            0            0            0            1            1            0            0          5          1
201910         2017-10-01  C_ID_9072609210          0  -1.753271            0            1            0            0            0            0            0            1          2          3

[2130 rows x 14 columns]

Define a function for reading and processing a partition with transactions:

In [70]:
from datetime import datetime
from pandas.api.types import CategoricalDtype

transactions_cat_cols = ("city_id",
                         "category_3",
                         "merchant_category_id",
                         "state_id",
                         "subsector_id")

transactions_dtype = {cat_col: "category" for cat_col in transactions_cat_cols}

transactions_dtype["installments"] = CategoricalDtype(
    categories=np.arange(-1, 13).tolist() + [999],
    ordered=True,
)

def read_transactions_part(part_file_name):
    transactions_df = pd.read_csv(f"../data/1-partitioned/{part_file_name}",
                                  parse_dates=["purchase_date"],
                                  dtype=transactions_dtype)
    
    transactions_df = transactions_df.reset_index().rename(columns={"index": "ID"})

    days_diff = datetime.today() - transactions_df.purchase_date
    transactions_df["month_diff"] = days_diff // np.timedelta64(1, "M")
    transactions_df["month_diff"] += transactions_df.month_lag
    
    cat_cols_mapping = dict(
        authorized_flag=dict(
            Y=1,
            N=0,
        ),
        category_1=dict(
            Y=1,
            N=0,
        ),
        category_3=dict(
            A=0,
            B=1,
            C=2,
        ),
    )
    
    for col, mapping in cat_cols_mapping.items():
        transactions_df[col] = transactions_df[col].map(mapping)
    
    for col in ("authorized_flag", "category_1", "category_2", "category_3"):
        transactions_df[col] = transactions_df[col].fillna(-1).astype(int)
        
    category_2_backup = transactions_df.category_2
    category_3_backup = transactions_df.category_3
    installments_backup = transactions_df.installments

    transactions_df = pd.get_dummies(transactions_df, columns=["category_2", "category_3", "installments"])
    
    transactions_df["category_2"] = category_2_backup
    transactions_df["category_3"] = category_3_backup
    transactions_df["installments"] = installments_backup

    return transactions_df

Read a sample partition with `read_transactions_part(...)`:

In [71]:
%%time

sample_transactions_df = read_transactions_part("new.013.csv")

display(sample_transactions_df)

          ID  authorized_flag          card_id city_id  category_1 merchant_category_id      merchant_id  month_lag  ...  installments_9 installments_10 installments_11 installments_12  installments_999  category_2  category_3  installments
0          0                1  C_ID_be71a60d23     143           0                   19  M_ID_ab392e3714          1  ...               0               0               0               0                 0           5           0             0
1          1                1  C_ID_be71a60d23     333           0                  307  M_ID_1fb0d13ea0          1  ...               0               0               0               0                 0           1           0             0
2          2                1  C_ID_be71a60d23     143           0                  166  M_ID_12c118b802          2  ...               0               0               0               0                 0           5           0             0
...      ...              ...              ...     ...         ...                  ...              ...        ...  ...             ...             ...             ...             ...               ...         ...         ...           ...
20756  20756                1  C_ID_7750eb98a6      20           0                  818  M_ID_1b5a3c1373          2  ...               0               0               0               0                 0           3           1             1
20757  20757                1  C_ID_438aea7835      53           0                  557  M_ID_8013941341          1  ...               0               0               0               0                 0           5           0             0
20758  20758                1  C_ID_611d4d588f     302           0                  307  M_ID_ee5a6f6a35          2  ...               0               0               0               0                 0           3           1             1

[20759 rows x 41 columns]

CPU times: user 136 ms, sys: 0 ns, total: 136 ms
Wall time: 135 ms

In [72]:
%%time

merchants_df = pd.read_csv("../data/raw/merchants.csv")
merchants_df = merchants_df.drop_duplicates("merchant_id")
merchants_df = merchants_df.reset_index().rename(columns={"index": "ID"})

cat_cols_mapping = dict(
    category_1=dict(
        Y=1,
        N=0,
    ),
    category_4=dict(
        Y=1,
        N=0,
    ),
    most_recent_sales_range=dict(
        A=0,
        B=1,
        C=2,
        D=3,
        E=4,
    ),
    most_recent_purchases_range=dict(
        A=0,
        B=1,
        C=2,
        D=3,
        E=4,
    ),
)

for col, mapping in cat_cols_mapping.items():
    merchants_df[col] = merchants_df[col].map(mapping)

for col in ("category_1", "category_2", "category_4", "most_recent_sales_range", "most_recent_purchases_range"):
    merchants_df[col] = merchants_df[col].fillna(-1).astype(int)

category_2_backup = merchants_df.category_2
most_recent_sales_range_backup = merchants_df.most_recent_sales_range
most_recent_purchases_range_backup = merchants_df.most_recent_purchases_range

merchants_df = pd.get_dummies(merchants_df, columns=["category_2",
                                                     "most_recent_sales_range",
                                                     "most_recent_purchases_range"])

merchants_df["category_2"] = category_2_backup
merchants_df["most_recent_sales_range"] = most_recent_sales_range_backup
merchants_df["most_recent_purchases_range"] = most_recent_purchases_range_backup

merchants_df = merchants_df.fillna(0)

display(merchants_df)

            ID      merchant_id  merchant_group_id  merchant_category_id  subsector_id  ...  most_recent_purchases_range_3  most_recent_purchases_range_4  category_2  most_recent_sales_range  most_recent_purchases_range
0            0  M_ID_838061e48c               8353                   792             9  ...                              0                              1           1                        4                            4
1            1  M_ID_9339d880ad               3184                   840            20  ...                              0                              1           1                        4                            4
2            2  M_ID_e726bbae1e                447                   690             1  ...                              0                              1           5                        4                            4
...        ...              ...                ...                   ...           ...  ...                            ...                            ...         ...                      ...                          ...
334630  334693  M_ID_f2045dd267                 35                   561             7  ...                              0                              0           5                        0                            0
334631  334694  M_ID_9139332ccc                 35                   511             7  ...                              0                              0          -1                        0                            0
334632  334695  M_ID_cd2c0b07e9                 35                   606            17  ...                              0                              0           1                        0                            0

[334633 rows x 39 columns]

CPU times: user 1.08 s, sys: 31.9 ms, total: 1.12 s
Wall time: 1.11 s

Define a function for building an entry set for `customers_df` and `transactions_df`:

In [73]:
import featuretools as ft
import featuretools.variable_types as vtypes

transactions_vtypes = dict(authorized_flag=vtypes.Boolean,
                           category_1=vtypes.Boolean)

for ord_col in ("installments", "category_2", "category_3"):
    transactions_vtypes[ord_col] = vtypes.Ordinal
    
    for bool_col in filter(lambda x: x.startswith(ord_col + "_"), sample_transactions_df.columns):
        transactions_vtypes[bool_col] = vtypes.Boolean
        
customers_vtypes = {
    "feature_1": vtypes.Ordinal,
    "feature_2": vtypes.Ordinal,
    "feature_3": vtypes.Boolean,
}

merchants_vtypes = dict(category_1=vtypes.Boolean,
                        category_4=vtypes.Boolean)

for ord_col in ("category_2", "most_recent_sales_range", "most_recent_purchases_range"):
    merchants_vtypes[ord_col] = vtypes.Ordinal
    
    for bool_col in filter(lambda x: x.startswith(ord_col + "_"), merchants_df.columns):
        merchants_vtypes[bool_col] = vtypes.Boolean

def build_entity_set(customers_df, transactions_df, merchants_df):
    es = ft.EntitySet()
    
    es.entity_from_dataframe(entity_id="customers",
                             dataframe=customers_df,
                             index="card_id",
                             variable_types=customers_vtypes)

    es.entity_from_dataframe(entity_id="transactions",
                             dataframe=transactions_df,
                             index="ID",
                             variable_types=transactions_vtypes)
    
    es.entity_from_dataframe(entity_id="merchants",
                             dataframe=merchants_df,
                             index="merchant_id",
                             variable_types=merchants_vtypes)

    customer_transactions_relationship = ft.Relationship(es["customers"]["card_id"],
                                                         es["transactions"]["card_id"])
    
    merchants_transactions_relationship = ft.Relationship(es["merchants"]["merchant_id"],
                                                          es["transactions"]["merchant_id"])

    es.add_relationships([customer_transactions_relationship,
                          merchants_transactions_relationship])

    es["transactions"]["category_1"].interesting_values = [1]
    es["transactions"]["authorized_flag"].interesting_values = [1]

    for col in ("category_2", "category_3", "installments"):
        for dummy_col in filter(lambda x: x.startswith(col + "_"), transactions_df.columns):
            es["transactions"][dummy_col].interesting_values = [1]
            
    es["merchants"]["category_1"].interesting_values = [1]
    es["merchants"]["category_4"].interesting_values = [1]
    
    for col in ("category_2", "most_recent_sales_range", "most_recent_purchases_range"):
        for dummy_col in filter(lambda x: x.startswith(col + "_"), merchants_df.columns):
            es["merchants"][dummy_col].interesting_values = [1]

    return es

Build an entity set for sample data:

In [74]:
es = build_entity_set(sample_customers_df, sample_transactions_df, merchants_df)

Do deep feature synthesis:

In [75]:
features = ft.dfs(entityset=es, target_entity="customers", features_only=True)

print("Number of features: %d" % len(features))

display(features)

Number of features: 221

[<Feature: target>,
 <Feature: feature_1_1>,
 <Feature: feature_1_2>,
 <Feature: feature_1_3>,
 <Feature: feature_1_4>,
 <Feature: feature_1_5>,
 <Feature: feature_2_1>,
 <Feature: feature_2_2>,
 <Feature: feature_2_3>,
 <Feature: feature_1>,
 <Feature: feature_2>,
 <Feature: feature_3>,
 <Feature: SUM(transactions.month_lag)>,
 <Feature: SUM(transactions.purchase_amount)>,
 <Feature: SUM(transactions.month_diff)>,
 <Feature: STD(transactions.month_lag)>,
 <Feature: STD(transactions.purchase_amount)>,
 <Feature: STD(transactions.month_diff)>,
 <Feature: MAX(transactions.month_lag)>,
 <Feature: MAX(transactions.purchase_amount)>,
 <Feature: MAX(transactions.month_diff)>,
 <Feature: SKEW(transactions.month_lag)>,
 <Feature: SKEW(transactions.purchase_amount)>,
 <Feature: SKEW(transactions.month_diff)>,
 <Feature: MIN(transactions.month_lag)>,
 <Feature: MIN(transactions.purchase_amount)>,
 <Feature: MIN(transactions.month_diff)>,
 <Feature: MEAN(transactions.month_lag)>,
 <Feature: MEAN(transactions.purchase_amount)>,
 <Feature: MEAN(transactions.month_diff)>,
 <Feature: COUNT(transactions)>,
 <Feature: PERCENT_TRUE(transactions.authorized_flag)>,
 <Feature: PERCENT_TRUE(transactions.category_1)>,
 <Feature: PERCENT_TRUE(transactions.installments_-1)>,
 <Feature: PERCENT_TRUE(transactions.installments_0)>,
 <Feature: PERCENT_TRUE(transactions.installments_1)>,
 <Feature: PERCENT_TRUE(transactions.installments_2)>,
 <Feature: PERCENT_TRUE(transactions.installments_3)>,
 <Feature: PERCENT_TRUE(transactions.installments_4)>,
 <Feature: PERCENT_TRUE(transactions.installments_5)>,
 <Feature: PERCENT_TRUE(transactions.installments_6)>,
 <Feature: PERCENT_TRUE(transactions.installments_7)>,
 <Feature: PERCENT_TRUE(transactions.installments_8)>,
 <Feature: PERCENT_TRUE(transactions.installments_9)>,
 <Feature: PERCENT_TRUE(transactions.installments_10)>,
 <Feature: PERCENT_TRUE(transactions.installments_11)>,
 <Feature: PERCENT_TRUE(transactions.installments_12)>,
 <Feature: PERCENT_TRUE(transactions.installments_999)>,
 <Feature: PERCENT_TRUE(transactions.category_2_-1)>,
 <Feature: PERCENT_TRUE(transactions.category_2_1)>,
 <Feature: PERCENT_TRUE(transactions.category_2_2)>,
 <Feature: PERCENT_TRUE(transactions.category_2_3)>,
 <Feature: PERCENT_TRUE(transactions.category_2_4)>,
 <Feature: PERCENT_TRUE(transactions.category_2_5)>,
 <Feature: PERCENT_TRUE(transactions.category_3_-1)>,
 <Feature: PERCENT_TRUE(transactions.category_3_0)>,
 <Feature: PERCENT_TRUE(transactions.category_3_1)>,
 <Feature: PERCENT_TRUE(transactions.category_3_2)>,
 <Feature: NUM_UNIQUE(transactions.city_id)>,
 <Feature: NUM_UNIQUE(transactions.merchant_category_id)>,
 <Feature: NUM_UNIQUE(transactions.merchant_id)>,
 <Feature: NUM_UNIQUE(transactions.state_id)>,
 <Feature: NUM_UNIQUE(transactions.subsector_id)>,
 <Feature: NUM_UNIQUE(transactions.installments)>,
 <Feature: NUM_UNIQUE(transactions.category_2)>,
 <Feature: NUM_UNIQUE(transactions.category_3)>,
 <Feature: MODE(transactions.city_id)>,
 <Feature: MODE(transactions.merchant_category_id)>,
 <Feature: MODE(transactions.merchant_id)>,
 <Feature: MODE(transactions.state_id)>,
 <Feature: MODE(transactions.subsector_id)>,
 <Feature: MODE(transactions.installments)>,
 <Feature: MODE(transactions.category_2)>,
 <Feature: MODE(transactions.category_3)>,
 <Feature: DAY(first_active_month)>,
 <Feature: YEAR(first_active_month)>,
 <Feature: MONTH(first_active_month)>,
 <Feature: WEEKDAY(first_active_month)>,
 <Feature: SUM(transactions.merchants.ID)>,
 <Feature: SUM(transactions.merchants.merchant_group_id)>,
 <Feature: SUM(transactions.merchants.merchant_category_id)>,
 <Feature: SUM(transactions.merchants.subsector_id)>,
 <Feature: SUM(transactions.merchants.numerical_1)>,
 <Feature: SUM(transactions.merchants.numerical_2)>,
 <Feature: SUM(transactions.merchants.avg_sales_lag3)>,
 <Feature: SUM(transactions.merchants.avg_purchases_lag3)>,
 <Feature: SUM(transactions.merchants.active_months_lag3)>,
 <Feature: SUM(transactions.merchants.avg_sales_lag6)>,
 <Feature: SUM(transactions.merchants.avg_purchases_lag6)>,
 <Feature: SUM(transactions.merchants.active_months_lag6)>,
 <Feature: SUM(transactions.merchants.avg_sales_lag12)>,
 <Feature: SUM(transactions.merchants.avg_purchases_lag12)>,
 <Feature: SUM(transactions.merchants.active_months_lag12)>,
 <Feature: SUM(transactions.merchants.city_id)>,
 <Feature: SUM(transactions.merchants.state_id)>,
 <Feature: STD(transactions.merchants.ID)>,
 <Feature: STD(transactions.merchants.merchant_group_id)>,
 <Feature: STD(transactions.merchants.merchant_category_id)>,
 <Feature: STD(transactions.merchants.subsector_id)>,
 <Feature: STD(transactions.merchants.numerical_1)>,
 <Feature: STD(transactions.merchants.numerical_2)>,
 <Feature: STD(transactions.merchants.avg_sales_lag3)>,
 <Feature: STD(transactions.merchants.avg_purchases_lag3)>,
 <Feature: STD(transactions.merchants.active_months_lag3)>,
 <Feature: STD(transactions.merchants.avg_sales_lag6)>,
 <Feature: STD(transactions.merchants.avg_purchases_lag6)>,
 <Feature: STD(transactions.merchants.active_months_lag6)>,
 <Feature: STD(transactions.merchants.avg_sales_lag12)>,
 <Feature: STD(transactions.merchants.avg_purchases_lag12)>,
 <Feature: STD(transactions.merchants.active_months_lag12)>,
 <Feature: STD(transactions.merchants.city_id)>,
 <Feature: STD(transactions.merchants.state_id)>,
 <Feature: MAX(transactions.merchants.ID)>,
 <Feature: MAX(transactions.merchants.merchant_group_id)>,
 <Feature: MAX(transactions.merchants.merchant_category_id)>,
 <Feature: MAX(transactions.merchants.subsector_id)>,
 <Feature: MAX(transactions.merchants.numerical_1)>,
 <Feature: MAX(transactions.merchants.numerical_2)>,
 <Feature: MAX(transactions.merchants.avg_sales_lag3)>,
 <Feature: MAX(transactions.merchants.avg_purchases_lag3)>,
 <Feature: MAX(transactions.merchants.active_months_lag3)>,
 <Feature: MAX(transactions.merchants.avg_sales_lag6)>,
 <Feature: MAX(transactions.merchants.avg_purchases_lag6)>,
 <Feature: MAX(transactions.merchants.active_months_lag6)>,
 <Feature: MAX(transactions.merchants.avg_sales_lag12)>,
 <Feature: MAX(transactions.merchants.avg_purchases_lag12)>,
 <Feature: MAX(transactions.merchants.active_months_lag12)>,
 <Feature: MAX(transactions.merchants.city_id)>,
 <Feature: MAX(transactions.merchants.state_id)>,
 <Feature: SKEW(transactions.merchants.ID)>,
 <Feature: SKEW(transactions.merchants.merchant_group_id)>,
 <Feature: SKEW(transactions.merchants.merchant_category_id)>,
 <Feature: SKEW(transactions.merchants.subsector_id)>,
 <Feature: SKEW(transactions.merchants.numerical_1)>,
 <Feature: SKEW(transactions.merchants.numerical_2)>,
 <Feature: SKEW(transactions.merchants.avg_sales_lag3)>,
 <Feature: SKEW(transactions.merchants.avg_purchases_lag3)>,
 <Feature: SKEW(transactions.merchants.active_months_lag3)>,
 <Feature: SKEW(transactions.merchants.avg_sales_lag6)>,
 <Feature: SKEW(transactions.merchants.avg_purchases_lag6)>,
 <Feature: SKEW(transactions.merchants.active_months_lag6)>,
 <Feature: SKEW(transactions.merchants.avg_sales_lag12)>,
 <Feature: SKEW(transactions.merchants.avg_purchases_lag12)>,
 <Feature: SKEW(transactions.merchants.active_months_lag12)>,
 <Feature: SKEW(transactions.merchants.city_id)>,
 <Feature: SKEW(transactions.merchants.state_id)>,
 <Feature: MIN(transactions.merchants.ID)>,
 <Feature: MIN(transactions.merchants.merchant_group_id)>,
 <Feature: MIN(transactions.merchants.merchant_category_id)>,
 <Feature: MIN(transactions.merchants.subsector_id)>,
 <Feature: MIN(transactions.merchants.numerical_1)>,
 <Feature: MIN(transactions.merchants.numerical_2)>,
 <Feature: MIN(transactions.merchants.avg_sales_lag3)>,
 <Feature: MIN(transactions.merchants.avg_purchases_lag3)>,
 <Feature: MIN(transactions.merchants.active_months_lag3)>,
 <Feature: MIN(transactions.merchants.avg_sales_lag6)>,
 <Feature: MIN(transactions.merchants.avg_purchases_lag6)>,
 <Feature: MIN(transactions.merchants.active_months_lag6)>,
 <Feature: MIN(transactions.merchants.avg_sales_lag12)>,
 <Feature: MIN(transactions.merchants.avg_purchases_lag12)>,
 <Feature: MIN(transactions.merchants.active_months_lag12)>,
 <Feature: MIN(transactions.merchants.city_id)>,
 <Feature: MIN(transactions.merchants.state_id)>,
 <Feature: MEAN(transactions.merchants.ID)>,
 <Feature: MEAN(transactions.merchants.merchant_group_id)>,
 <Feature: MEAN(transactions.merchants.merchant_category_id)>,
 <Feature: MEAN(transactions.merchants.subsector_id)>,
 <Feature: MEAN(transactions.merchants.numerical_1)>,
 <Feature: MEAN(transactions.merchants.numerical_2)>,
 <Feature: MEAN(transactions.merchants.avg_sales_lag3)>,
 <Feature: MEAN(transactions.merchants.avg_purchases_lag3)>,
 <Feature: MEAN(transactions.merchants.active_months_lag3)>,
 <Feature: MEAN(transactions.merchants.avg_sales_lag6)>,
 <Feature: MEAN(transactions.merchants.avg_purchases_lag6)>,
 <Feature: MEAN(transactions.merchants.active_months_lag6)>,
 <Feature: MEAN(transactions.merchants.avg_sales_lag12)>,
 <Feature: MEAN(transactions.merchants.avg_purchases_lag12)>,
 <Feature: MEAN(transactions.merchants.active_months_lag12)>,
 <Feature: MEAN(transactions.merchants.city_id)>,
 <Feature: MEAN(transactions.merchants.state_id)>,
 <Feature: COUNT(transactions WHERE category_3_2 = 1)>,
 <Feature: COUNT(transactions WHERE installments_10 = 1)>,
 <Feature: COUNT(transactions WHERE category_2_5 = 1)>,
 <Feature: COUNT(transactions WHERE category_2_4 = 1)>,
 <Feature: COUNT(transactions WHERE installments_1 = 1)>,
 <Feature: COUNT(transactions WHERE installments_2 = 1)>,
 <Feature: COUNT(transactions WHERE installments_4 = 1)>,
 <Feature: COUNT(transactions WHERE installments_3 = 1)>,
 <Feature: COUNT(transactions WHERE category_3_0 = 1)>,
 <Feature: COUNT(transactions WHERE installments_5 = 1)>,
 <Feature: COUNT(transactions WHERE category_1 = 1)>,
 <Feature: COUNT(transactions WHERE category_2_1 = 1)>,
 <Feature: COUNT(transactions WHERE installments_0 = 1)>,
 <Feature: COUNT(transactions WHERE authorized_flag = 1)>,
 <Feature: COUNT(transactions WHERE installments_999 = 1)>,
 <Feature: COUNT(transactions WHERE installments_7 = 1)>,
 <Feature: COUNT(transactions WHERE installments_11 = 1)>,
 <Feature: COUNT(transactions WHERE installments_-1 = 1)>,
 <Feature: COUNT(transactions WHERE category_3_1 = 1)>,
 <Feature: COUNT(transactions WHERE installments_8 = 1)>,
 <Feature: COUNT(transactions WHERE category_3_-1 = 1)>,
 <Feature: COUNT(transactions WHERE category_2_-1 = 1)>,
 <Feature: COUNT(transactions WHERE installments_12 = 1)>,
 <Feature: COUNT(transactions WHERE installments_6 = 1)>,
 <Feature: COUNT(transactions WHERE category_2_2 = 1)>,
 <Feature: COUNT(transactions WHERE installments_9 = 1)>,
 <Feature: COUNT(transactions WHERE category_2_3 = 1)>,
 <Feature: NUM_UNIQUE(transactions.DAY(purchase_date))>,
 <Feature: NUM_UNIQUE(transactions.YEAR(purchase_date))>,
 <Feature: NUM_UNIQUE(transactions.MONTH(purchase_date))>,
 <Feature: NUM_UNIQUE(transactions.WEEKDAY(purchase_date))>,
 <Feature: NUM_UNIQUE(transactions.merchants.category_2)>,
 <Feature: NUM_UNIQUE(transactions.merchants.most_recent_sales_range)>,
 <Feature: NUM_UNIQUE(transactions.merchants.most_recent_purchases_range)>,
 <Feature: MODE(transactions.DAY(purchase_date))>,
 <Feature: MODE(transactions.YEAR(purchase_date))>,
 <Feature: MODE(transactions.MONTH(purchase_date))>,
 <Feature: MODE(transactions.WEEKDAY(purchase_date))>,
 <Feature: MODE(transactions.merchants.category_2)>,
 <Feature: MODE(transactions.merchants.most_recent_sales_range)>,
 <Feature: MODE(transactions.merchants.most_recent_purchases_range)>]

In [76]:
feature_matrix_df = ft.calculate_feature_matrix(features=features, entityset=es, verbose=True)

display(feature_matrix_df)

Elapsed: 00:33 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 10/10 chunks

                   target  feature_1_1  feature_1_2  ...  MODE(transactions.merchants.category_2)  MODE(transactions.merchants.most_recent_sales_range)  MODE(transactions.merchants.most_recent_purchases_range)
card_id                                              ...
C_ID_0033871586 -1.052924            1            0  ...                                      4.0                                                1.0                                                   1.0
C_ID_005c9dbbfa  0.263760            0            0  ...                                      1.0                                                3.0                                                   2.0
C_ID_008c25003f -0.863420            0            0  ...                                      5.0                                                2.0                                                   4.0
...                   ...          ...          ...  ...                                      ...                                                ...                                                   ...
C_ID_ffea783298  0.518986            0            0  ...                                     -1.0                                                1.0                                                   2.0
C_ID_ffee45f941  0.951472            0            0  ...                                      1.0                                                3.0                                                   3.0
C_ID_fff7031631  0.289718            0            0  ...                                      1.0                                                3.0                                                   4.0

[2130 rows x 221 columns]

In [77]:
%%time

from multiprocessing import Pool

def calculate_feature_matrix_for(transactions_part_file_name, customers_part_df):
    transactions_part_df = read_transactions_part(transactions_part_file_name)

    part_entity_set = build_entity_set(
        customers_part_df,
        transactions_part_df,
        merchants_df,
    )
    
    feature_matrix_part_df = ft.calculate_feature_matrix(
        features=features, entityset=part_entity_set,
    )
    
    return feature_matrix_part_df

feature_matrix_dfs = dict()

for customers_clazz, customers_df in customers_dfs.items():
    for transactions_clazz, n_parts in TRANSACTIONS_N_PARTS.items():
        customers_with_part_df = add_part(customers_df, n_parts=n_parts)
        
        processes_args = []
        
        for part, customers_part_df in customers_with_part_df.groupby("part"):
            transactions_part_file_name = "%s.%03d.csv" % (transactions_clazz, part)
            processes_args.append((transactions_part_file_name, customers_part_df))
        
        with Pool(8) as p:
            feature_matrix_part_dfs = p.starmap(
                calculate_feature_matrix_for,
                processes_args,
            )

        feature_matrix_df = pd.concat(
            feature_matrix_part_dfs,
            sort=False,
        )
        
        feature_matrix_dfs[customers_clazz] = feature_matrix_df
        
        break # only old transactions for now

CPU times: user 4.3 s, sys: 996 ms, total: 5.3 s
Wall time: 36min 27s

In [78]:
%%time

for feature_matrix_clazz, feature_matrix_df in feature_matrix_dfs.items():
    feature_matrix_df.to_csv(f"../data/2-feature-engineered/{feature_matrix_clazz}.csv")

CPU times: user 57.3 s, sys: 355 ms, total: 57.6 s
Wall time: 57.6 s

In [15]:
context = ("display.max_rows",     0,
           "display.max_colwidth", 0,)

with pd.option_context(*context): display(ft.list_primitives())

                            name         type                                                                                description
0   skew                          aggregation  Finds the maximum non-null value of a numeric feature.
1   trend                         aggregation  Finds the maximum non-null value of a numeric feature.
2   min                           aggregation  Finds the maximum non-null value of a numeric feature.
3   avg_time_between              aggregation  Finds the maximum non-null value of a numeric feature.
4   median                        aggregation  Finds the maximum non-null value of a numeric feature.
5   time_since_last               aggregation  Finds the maximum non-null value of a numeric feature.
6   n_most_common                 aggregation  Finds the maximum non-null value of a numeric feature.
7   all                           aggregation  Finds the maximum non-null value of a numeric feature.
8   mode                          aggregation  Finds the maximum non-null value of a numeric feature.
9   percent_true                  aggregation  Finds the maximum non-null value of a numeric feature.
10  any                           aggregation  Finds the maximum non-null value of a numeric feature.
11  mean                          aggregation  Finds the maximum non-null value of a numeric feature.
12  num_true                      aggregation  Finds the maximum non-null value of a numeric feature.
13  last                          aggregation  Finds the maximum non-null value of a numeric feature.
14  count                         aggregation  Finds the maximum non-null value of a numeric feature.
15  sum                           aggregation  Finds the maximum non-null value of a numeric feature.
16  num_unique                    aggregation  Finds the maximum non-null value of a numeric feature.
17  std                           aggregation  Finds the maximum non-null value of a numeric feature.
18  max                           aggregation  Finds the maximum non-null value of a numeric feature.
19  and                           transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
20  days_since                    transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
21  not_equal_scalar              transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
22  latitude                      transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
23  time_since_previous           transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
24  isin                          transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
25  equal_scalar                  transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
26  greater_than_equal_to         transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
27  is_null                       transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
28  modulo_numeric_scalar         transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
..                    ...               ...                                                                                          ...
41  subtract_numeric              transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
42  second                        transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
43  add_numeric                   transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
44  day                           transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
45  longitude                     transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
46  greater_than_equal_to_scalar  transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
47  modulo_by_feature             transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
48  absolute                      transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
49  diff                          transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
50  not_equal                     transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
51  percentile                    transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
52  time_since                    transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
53  divide_by_feature             transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
54  equal                         transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
55  greater_than_scalar           transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
56  modulo_numeric                transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
57  characters                    transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
58  divide_numeric                transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
59  less_than_equal_to            transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
60  is_weekend                    transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
61  or                            transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
62  multiply_numeric              transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
63  month                         transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
64  negate                        transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
65  subtract_numeric_scalar       transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
66  minute                        transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
67  add_numeric_scalar            transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
68  hour                          transform    Calculate the approximate haversine distance in miles between two LatLong variable types.
69  haversine                     transform    Calculate the approximate haversine distance in miles between two LatLong variable types.

[70 rows x 3 columns]

Add a `fraud` boolean flag?

In [ ]:
authorized_card_rate = transactions_df.groupby("card_id").authorized_flag.mean().sort_values()

with pd.option_context("display.max_rows", 10): display(authorized_card_rate)

`999` installments looks like a `fraud` indicator too

In [ ]:
transactions_df.groupby("installments").authorized_flag.mean()

Use `np.log` for `purchase_amount`?

In [3]:
_, axs = plt.subplots(1, 2, figsize=(6, 3), sharey=True)
axs[0].hist(transactions_df.purchase_amount)
axs[1].hist(np.log(transactions_df.purchase_amount + 1))

plt.show()

NameError: name 'plt' is not defined