In [1]:
%run 0-Base.ipynb

In [2]:
SOURCE_PATH = f"{DATA_PATH}/raw"
TARGET_PATH = f"{DATA_PATH}/1-reformatted"

#### Reformatting data about card owners:

In [32]:
from elo_competition.data import read_card_owners_csv, reduce_mem_usage

In [33]:
%time train_df = read_card_owners_csv(f"{SOURCE_PATH}/train.csv")
%time train_df = reduce_mem_usage(train_df)
display(train_df)
train_df.info()

CPU times: user 133 ms, sys: 2.87 ms, total: 136 ms
Wall time: 136 ms
CPU times: user 10.7 ms, sys: 0 ns, total: 10.7 ms
Wall time: 10.6 ms

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06-01,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08-01,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09-01,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,-0.159749
...,...,...,...,...,...,...
201912,2017-09-01,C_ID_963962de2c,3,2,1,-2.740821
201913,2015-10-01,C_ID_1314773c0b,3,1,1,0.312917
201914,2017-08-01,C_ID_7666735b3d,4,3,0,0.093494
201915,2016-07-01,C_ID_73f5a0efd0,3,2,1,-4.676589
201916,2017-07-01,C_ID_92c9984c58,3,1,1,-1.859413

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   first_active_month  201917 non-null  datetime64[ns]
 1   card_id             201917 non-null  object
 2   feature_1           201917 non-null  int8
 3   feature_2           201917 non-null  int8
 4   feature_3           201917 non-null  int8
 5   target              201917 non-null  float32
dtypes: datetime64[ns](1), float32(1), int8(3), object(1)
memory usage: 4.4+ MB

In [36]:
train_df.card_id = train_df.card_id.astype("string")

In [40]:
train_df.values

array([[Timestamp('2017-06-01 00:00:00'), 'C_ID_92a2005557', 5, 2, 1,
        -0.8202825784683228],
       [Timestamp('2017-01-01 00:00:00'), 'C_ID_3d0044924f', 4, 1, 0,
        0.39291325211524963],
       [Timestamp('2016-08-01 00:00:00'), 'C_ID_d639edf6cd', 2, 2, 0,
        0.6880559921264648],
       ...,
       [Timestamp('2017-08-01 00:00:00'), 'C_ID_7666735b3d', 4, 3, 0,
        0.09349414706230164],
       [Timestamp('2016-07-01 00:00:00'), 'C_ID_73f5a0efd0', 3, 2, 1,
        -4.676589488983154],
       [Timestamp('2017-07-01 00:00:00'), 'C_ID_92c9984c58', 3, 1, 1,
        -1.8594130277633667]], dtype=object)

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201917 entries, 0 to 201916
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   first_active_month  201917 non-null  datetime64[ns]
 1   card_id             201917 non-null  object
 2   feature_1           201917 non-null  int8
 3   feature_2           201917 non-null  int8
 4   feature_3           201917 non-null  int8
 5   target              201917 non-null  float32
dtypes: datetime64[ns](1), float32(1), int8(3), object(1)
memory usage: 4.4+ MB

In [8]:
%time train_df.to_feather(f"{TARGET_PATH}/train.feather")

CPU times: user 16.1 ms, sys: 9.92 ms, total: 26 ms
Wall time: 63.2 ms

In [9]:
%time test_df = read_card_owners_csv(f"{SOURCE_PATH}/test.csv")
%time test_df = reduce_mem_usage(test_df)

display(test_df)

CPU times: user 85.6 ms, sys: 6.81 ms, total: 92.4 ms
Wall time: 98 ms
CPU times: user 6.13 ms, sys: 0 ns, total: 6.13 ms
Wall time: 6.19 ms

       first_active_month          card_id  feature_1  feature_2  feature_3
0              2017-04-01  C_ID_0ab67a22ab          3          3          1
1              2017-01-01  C_ID_130fd0cbdd          2          3          0
2              2017-08-01  C_ID_b709037bc5          5          1          1
3              2017-12-01  C_ID_d27d835a9f          2          1          0
4              2015-12-01  C_ID_2b5e3df5c2          5          1          1
...                   ...              ...        ...        ...        ...
123618         2017-10-01  C_ID_7a239d2eda          2          2          0
123619         2017-09-01  C_ID_75ace375ae          3          1          1
123620         2016-09-01  C_ID_21d56d950c          5          1          1
123621         2017-06-01  C_ID_6c46fc5a9d          2          1          0
123622         2016-10-01  C_ID_87e7979a5f          5          1          1

[123623 rows x 5 columns]

In [11]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123623 entries, 0 to 123622
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   first_active_month  123622 non-null  datetime64[ns]
 1   card_id             123623 non-null  object
 2   feature_1           123623 non-null  int8
 3   feature_2           123623 non-null  int8
 4   feature_3           123623 non-null  int8
dtypes: datetime64[ns](1), int8(3), object(1)
memory usage: 2.2+ MB

In [12]:
%time test_df.to_feather(f"{TARGET_PATH}/test.feather")

CPU times: user 8.95 ms, sys: 3.43 ms, total: 12.4 ms
Wall time: 10.7 ms

#### Reformatting data about transactions:

In [13]:
from elo_competition.data import read_transactions_csv, reduce_mem_usage

In [14]:
%time historical_transactions_df = read_transactions_csv(f"{SOURCE_PATH}/historical_transactions.csv")

display(historical_transactions_df)

CPU times: user 29 s, sys: 2.3 s, total: 31.3 s
Wall time: 34.7 s

,authorized_flag,card_id,installments,month_lag,purchase_amount,purchase_date
0,True,C_ID_4e6213e9bc,0,-8,-0.703331,2017-06-25 15:33:07
1,True,C_ID_4e6213e9bc,0,-7,-0.733128,2017-07-15 12:10:45
2,True,C_ID_4e6213e9bc,0,-6,-0.720386,2017-08-09 22:04:29
3,True,C_ID_4e6213e9bc,0,-5,-0.735352,2017-09-02 10:06:26
4,True,C_ID_4e6213e9bc,0,-11,-0.722865,2017-03-10 01:14:19
...,...,...,...,...,...,...
29112356,True,C_ID_2863d2fa95,1,-1,-0.632706,2017-01-20 08:52:04
29112357,True,C_ID_2863d2fa95,1,0,-0.632706,2017-02-20 04:40:50
29112358,True,C_ID_5c240d6e3c,0,0,-0.657740,2017-12-26 18:37:51
29112359,True,C_ID_5c240d6e3c,0,-1,0.770620,2017-11-24 14:18:15
29112360,True,C_ID_5c240d6e3c,0,-2,1.134411,2017-10-26 14:09:40

In [15]:
%time new_merchant_transactions_df = read_transactions_csv(f"{SOURCE_PATH}/new_merchant_transactions.csv")

display(new_merchant_transactions_df)

CPU times: user 1.89 s, sys: 83 ms, total: 1.98 s
Wall time: 2.22 s

,authorized_flag,card_id,installments,month_lag,purchase_amount,purchase_date
0,True,C_ID_415bb3a509,1,1,-0.557574,2018-03-11 14:57:36
1,True,C_ID_415bb3a509,1,1,-0.569580,2018-03-19 18:53:37
2,True,C_ID_415bb3a509,1,2,-0.551037,2018-04-26 14:08:44
3,True,C_ID_415bb3a509,1,1,-0.671925,2018-03-07 09:43:21
4,True,C_ID_ef55cf8d4b,1,1,-0.659904,2018-03-22 21:07:53
...,...,...,...,...,...,...
1963026,True,C_ID_1320dee851,0,2,-0.701828,2018-04-06 14:36:52
1963027,True,C_ID_f112aa3381,0,2,-0.694390,2018-03-07 13:19:18
1963028,True,C_ID_bd97b86450,1,1,-0.621031,2018-03-05 12:04:56
1963029,True,C_ID_c0513fd84f,0,1,-0.656749,2018-03-09 14:47:05
1963030,True,C_ID_a935410f8e,0,2,-0.739395,2018-04-11 07:59:46

In [16]:
%%time

transactions_df = pd.concat(
    (
        historical_transactions_df,
        new_merchant_transactions_df,
    ),
    ignore_index=True,
    copy=False,
)

del historical_transactions_df
del new_merchant_transactions_df

CPU times: user 271 ms, sys: 166 ms, total: 438 ms
Wall time: 439 ms

In [17]:
%time transactions_df = reduce_mem_usage(transactions_df)

CPU times: user 1.07 s, sys: 200 ms, total: 1.27 s
Wall time: 1.28 s

In [18]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31075392 entries, 0 to 31075391
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   authorized_flag  bool
 1   card_id          object
 2   installments     int16
 3   month_lag        int8
 4   purchase_amount  float32
 5   purchase_date    datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float32(1), int16(1), int8(1), object(1)
memory usage: 711.3+ MB

In [19]:
%time transactions_df.to_feather(f"{TARGET_PATH}/transactions.feather")

CPU times: user 1.49 s, sys: 1.11 s, total: 2.6 s
Wall time: 6.22 s